# coding: utf-8

"""
    VxRail Disk and Cluster Management

    APIs for disk and cluster management  # noqa: E501

    OpenAPI spec version: 7.0.240
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from vxrail_ansible_utility.api_client import ApiClient


class DiskLEDApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def private_disks_disk_sn_led_put(self, body, disk_sn, **kwargs):  # noqa: E501
        """change sepcific disk led status  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.private_disks_disk_sn_led_put(body, disk_sn, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str body: update led status of specific disk. (required)
        :param str disk_sn: The sn of disk. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.private_disks_disk_sn_led_put_with_http_info(body, disk_sn, **kwargs)  # noqa: E501
        else:
            (data) = self.private_disks_disk_sn_led_put_with_http_info(body, disk_sn, **kwargs)  # noqa: E501
            return data

    def private_disks_disk_sn_led_put_with_http_info(self, body, disk_sn, **kwargs):  # noqa: E501
        """change sepcific disk led status  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.private_disks_disk_sn_led_put_with_http_info(body, disk_sn, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str body: update led status of specific disk. (required)
        :param str disk_sn: The sn of disk. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'disk_sn']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method private_disks_disk_sn_led_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `private_disks_disk_sn_led_put`")  # noqa: E501
        # verify the required parameter 'disk_sn' is set
        if ('disk_sn' not in params or
                params['disk_sn'] is None):
            raise ValueError("Missing the required parameter `disk_sn` when calling `private_disks_disk_sn_led_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'disk_sn' in params:
            path_params['disk_sn'] = params['disk_sn']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['text/plain'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/private/disks/{disk_sn}/led', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
